.image-placeholder-120-80 {
  border: 1px #ccc solid;
  float: left;
  height: 80px;
  margin-right: 20px;
  padding: 2px;
  width: 120px;
}

.image-placeholder-120-80 .image {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 80px;
  width: 120px;
}

.ez-banner-link-update {
  text-align: right;
}
