/*Styles for EZ Banner Rotator */
#loading-image {
  left: 50%;
  margin-left: -32px;
  margin-top: 20px;
  margin-top: -33px;
  position: absolute;
  top: 50%;
}

#loading-counter {
  border: 1px #ccc solid;
  height: 18px;
  left: 50%;
  margin-left: -50px;
  margin-top: 100px;
  margin-top: -9px;
  position: absolute;
  top: 50%;
  width: 100px;
}

#loading-counter div {
  background: #ddd;
  border: 0;
  height: 18px;
  width: 5%;
}

#ez_banner_rotator_wrapper {
  background-color: #efefef;
  border: 0px #ccc solid;
  position: relative;
}

#ez_banner_rotator_wrapper {
  background-repeat: no-repeat;
}

#ez_banner_rotator_wrapper #bannerContainer {
  text-align: left;
}

#ez_banner_rotator_wrapper #bannerContainerCover {
  text-align: center;
}

#ez_banner_rotator_wrapper #bannerBody {
  text-align: center;
}

#ez_banner_rotator_wrapper .ez_banner_footer {
  height: 80px;
  margin-top: -80px;
  position: relative;
}

#ez_banner_rotator_wrapper #bannerFooter {
  background: #000;
  height: 80px;
  overflow: hidden;
  position: absolute;
}

#ez_banner_rotator_wrapper #ez_bannerFooterNav {
  overflow: hidden;
  position: absolute;
}

#ez_banner_rotator_wrapper #ez_bannerFooterNav .imgDiv {
  border: 2px #fff solid;
  border-radius: 3px;
  float: left;
  height: 60px;
  margin-left: 3px;
  margin-left: 2px;
  margin-right: 4px;
  margin-top: 6px;
  width: 60px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#ez_banner_rotator_wrapper .footerCell {
  float: left;
  overflow: hidden;
}

#ez_banner_rotator_wrapper .footerCell ul.footerContents {
  color: white;
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

#ez_banner_rotator_wrapper .footerCell ul.footerContents li.footerTitle,
#ez_banner_rotator_wrapper .footerCell ul.footerContents li.footerDesc,
#ez_banner_rotator_wrapper .footerCell ul.footerContents li.footerLink {
  font-family: tahoma, ubuntu, sans-serif;
  font-size: 10px;
  list-style: none;
  text-align: left;
}

#ez_banner_rotator_wrapper .footerCell ul.footerContents li.footerTitle {
  font-size: 11px;
  font-weight: bold;
}

#ez_banner_rotator_wrapper .footerCell ul.footerContents li.footerDesc {
  line-height: 11px;
}

#ez_banner_rotator_wrapper .footerCell ul li a.link {
  background: url(../images/button-more.gif) 0 0 no-repeat;
  color: white;
  display: block;
  float: right;
  height: 15px;
  margin-right: 5px;
  width: 38px;
}
